<?xml version="1.0" encoding="utf-8"?>
<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
  <session-factory name="NHibernate.Test">
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>

    <!--设置NHibernate的Dialect类名 - 允许NHibernate针对特定的关系数据库生成优化的SQL-->
    <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>

    <!--数据库连接字符串-->
    <property name="connection.connection_string">
      Data Source=127.0.0.1;Initial Catalog=ORCDEMO;Persist Security Info=True;User ID=sa;Password=123
    </property>

    <!--输出所有SQL语句到控制台.-->
    <property name="show_sql">true</property>

    <!--指定NHibernate生成的IDbCommands对象的超时时间.-->
    <property name="command_timeout">60</property>

    <!--指定ADO.NET何时释放数据库连接。
    例如： auto (默认) | on_close | after_transaction
    注意,这些设置仅对通过ISessionFactory.OpenSession得到的ISession起作用。
    对于通过ISessionFactory.GetCurrentSession得到的ISession， 所配置的ICurrentSessionContext实现控制这些ISession的连接释放模式。-->
    <property name="connection.release_mode">auto</property>

    <!--将NHibernate查询中的符号映射到SQL查询中的符号 (符号可能是函数名或常量名字)。-->
    <property name="query.substitutions">true 1, false 0, yes 'Y', no  'N'</property>
    <mapping assembly="Demo.Model"/>
  </session-factory>
</hibernate-configuration>
